$main-fonts: 'Lato', sans-serif;
$title-fonts: 'Raleway', sans-serif;

$page-background-color: white;

$ui-background-color: whitesmoke;
$ui-background-image: "/assets/images/border.svg";
$ui-border-style: .5px solid #9400ff;
$ui-height: 46px;

$code-background: lightslategrey;