<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/jpg" href="/data/favicon.jpg">
</head>

<body>
    <nav class="n_f">
        <img src="/data/favicon.jpg" id="profile-img">
        <ul>
            <li><a href="/"><span>Home</span></a></li>
            <li><a href="/projects"><span>Projects</span></a></li>
            <li><a href="/"><span>About</span></a></li>
            <li><a href="/"><span>Contact</span></a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div>

    <footer class="n_f">
        <ul>
            <li id="contact-li"><span>Contact:</span></li>
            <li><a href="mailto:me@aunetx.dev"><span>me@aunetx.dev</span></a></li>
            <li><a href="https://github.com/aunetx"><span>github</span></a></li>
            <li><a href="https://gitlab.com/aunetx"><span>gitlab</span></a></li>
        </ul>
    </footer>
</body>

</html>